::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #FCFCFC;
  opacity: .5;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #FCFCFC;
  opacity:  .5;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #FCFCFC;
  opacity:  .5;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #FCFCFC;
  opacity: .5;
}

body {
  font-family: 'Poiret One', cursive;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #FFFFFF;
}

input, textarea, select{font-family:inherit;}

header {
  position: relative;
}

.header {
  font-variant: small-caps;
  font-size:200%;
  font-weight: bold;
  text-align: center;
  overflow:hidden;
  padding:15px 0 15px 0;
}

.header img {
  width: 50px;
  height: 50px;
  display: inline-block;
  top: 20px;
}

.subheader {
  font-size:75%;
}

.subheader .right {
  display: inline-block;
}

.subheader .left {
  display: inline-block;
}

.container {
  position: relative;
  font-family: 'PT Sans', sans-serif;
}

.pretty-photo {
  width:100%;
  height:auto;
  overflow:hidden;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.pretty-photo img {
  width: 100%;
  height: auto;
  margin: -10% 0 -18% 0;
}

.addressForm {
  position: absolute;
  top: 5%;
  right: 10%;  
  padding: 5px;

  margin: 20px auto 0 auto;
  width: 25%;

  color:#FFFFFF;
  background-color: #1AAFD3;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
}

.addressForm input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  width:98%;
  margin: 1%;
  font-weight: 500;
  color: #FCFCFC;
  background: none;
  border: 1px solid white;
  padding-left: 4px;
}

.addressForm .name {
  margin-top: 2%;
  margin-bottom: 2%;
}

.addressForm .email {
    margin-bottom: 2%;
}

.addressForm .submit{
  background: white;
  color: #00A6B2;
  margin-top: 2%;
}

.addressForm .submit:hover{
  cursor: pointer;
  border: 1px solid #CCCCCC;
}

.addressForm .submit:focus{
  border: 1px solid #CCCCCC;
}

.addressForm .left {
  float: left;
  width:56%;
}

.addressForm .right {
  float: right;
  width:40%;
}

.havingTrouble {
  font-size: smaller;
  font-style: italic;
  margin:3px;
}

.havingTrouble:hover {
  cursor: pointer;
}

.married{
  position: absolute;
  top: 20%;
  left: 3%;  
  padding: 5px;

  margin: 20px auto 0 auto;
  width: 50%;
  height: 25%;
  color:#FFFFFF;
}

.married .name{
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-size: 5vw;
  line-height: 0.8;
  margin: 0px 2%;
  display: inline-block;
  vertical-align: middle;
}

.married .name.left{
  text-align: right;
}

.married .name.right{
}

.married .name span {
  display: block;
  font-size: 1.75vw;
  margin-top: 0.75vw;
}

.married .ampersand {
  font-family: 'Times New Roman';
  font-size: 7vw;
  color:#1AAFD3;
  position: relative;
  display: inline-block;
  top: 20px;
}

.footer {
  font-size:150%;
  font-weight: bolder;
  text-align: center;
  overflow:hidden;
  margin:25px 0 15px 0;
}

.copyright {
  font-size: 14px;
  font-style: italic;
  float: left;
  color: grey;
}

.thanks {

}